<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Unveil Your Charm - Let Cupid's Arrow Fly Through Your Photos.</h2>
    <form action="" id="form-control">
      <input
        type="file"
        name="file"
        id="image-uploader"
        multiple
        accept="image/jpeg, image/png"
      />
      <button type="submit">Submit</button>
    </form>
    <h3>You can always upload more later</h3>
    <script type="module" src="./main.ts"></script>
  </body>
</html>
