@import "./navbar";
@import "./selected-profile";

.hero {
  position: absolute;
  //   top: 20px;
  left: 12%;
  width: 55%;
  margin: 0 20px;
  .profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    @import "./profile";
  }
}
