.form-control {
  width: 70%;
  position: relative;
  display: flex;
  background-color: #fcf6e6;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 15px;
  min-height: 575px;

  .form-left {
    flex-basis: 30%;
    border-radius: 15px 0 0 15px;
    border-right: none;
    max-width: 350px;
    position: relative;
    .eros {
      max-width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .divider {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    height: 75%;
    width: 3px;
    background-color: rgb(240, 162, 106);
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 80px 150px;
    border-radius: 0 15px 15px 0;
    gap: 25px;

    input {
      display: block;
      padding: 10px 5px 5px;
      width: 100%;
      border: none;
      background-color: #fcf6e6;
      color: chocolate;
      border-bottom: 1px solid black;
      &:active,
      &:focus,
      &:hover {
        outline: none;
        border-bottom: 1px solid black;
      }
    }

    .btn {
      background-color: #e0dcb9;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }

    &.hidden {
      display: none;
    }
  }
}
