nav {
  // border: 1px solid black;
  background-color: white;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 10%;
  height: 100vh;
  .logo {
    flex-basis: 15%;
  }
  .nav-bar {
    flex-basis: 80%;
    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      li {
        color: white;
        text-align: center;
        position: relative;
      }
      li.active a::after {
        content: "";
        display: block;
        border-bottom: 2px solid black;
        width: 75px;
        transition: width 1s;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }
}
