.profile {
  border: 2px solid black;
  margin-top: 20px;
  border-radius: 15px;
  min-height: 300px;
  max-width: 250px;
  position: relative;
  overflow: hidden;
  background: #e96f6f;
  p {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1.2rem;
    font-weight: 800;
    color: black;
    z-index: 1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Adjust the height of the gradient as needed */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 100%
    );
    pointer-events: none;
  }
}
