<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="registration-form">
      <div class="container">
        <h2>Let Cupid Aim for You: Complete your EROS profile.</h2>
        <form action="" class="user-detail" id="registration-form">
          <fieldset>
            <legend><h3>About you</h3></legend>
            <label for="bio">Tell us about you:</label>
            <input type="text" id="bio" placeholder="Bio" />
          </fieldset>

          <fieldset>
            <legend><h3>Essentials</h3></legend>
            <label for="dob">Your date of birth: </label
            ><input type="date" id="dob" />

            <label for="gender">Gender:</label>
            <div class="radio-container">
              <input type="radio" name="gender" id="male" value="5" />Male
              <input type="radio" name="gender" id="female" value="6" />Female
              <input
                type="radio"
                name="gender"
                id="nonBinary"
                value="7"
              />Non-binary
              <input type="radio" name="gender" id="other" value="8" />Other
            </div>

            <label for="education">Education:</label>
            <input type="text" id="education" placeholder="Education" />
          </fieldset>

          <fieldset>
            <legend><h3>Interests</h3></legend>
            <div class="interests" id="interests"></div>
          </fieldset>

          <fieldset>
            <legend><h3>Preferences</h3></legend>

            <label for="prefered-age">Prefered Age:</label
            ><input type="number" id="prefered-age" min="18" />

            <label for="gender">Prefered gender:</label>
            <div class="radio-container">
              <input type="radio" name="gender_preference" value="5" />Male
              <input type="radio" name="gender_preference" value="6" />Female
              <input type="radio" name="gender_preference" value="7" />Both
              <input type="radio" name="gender_preference" value="8" />Other
            </div>
          </fieldset>
          <button class="submit-btn btn">Submit</button>
        </form>
      </div>
    </div>
    <script type="module" src="./main.ts"></script>
  </body>
</html>
