<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./../../style/style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">EROS</div>
      <div class="nav-bar" id="nav-bar">
        <ul>
          <li class="active">
            <a href="#"
              ><img src="./../../assets/images/world.png" alt="profile"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="./../../assets/images/request.png" alt="request"
            /></a>
          </li>
          <li>
            <a href="#">
              <img src="./../../assets/images/chat.png" alt="chat"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="./../../assets/images/profile.png" alt="profile"
            /></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="hero">
      <div class="profiles" id="profiles"></div>
      <div class="selected-profile">
        <div class="empty-profile" id="empty-profile">
          <img src="./../../assets/images/cupid.png" alt="cupid" />
          <p>
            Love connections start with a click! <br />Explore profiles and let
            Cupid guide you.
          </p>
        </div>
        <div class="profile-card" id="profile-card"></div>
      </div>
    </div>
    <script type="module" src="./main.ts"></script>
    <script type="module" src="./navbar.ts"></script>
    <script type="module" src="./profile-selection.ts"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </body>
</html>
