<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="logo">EROS</div>
      <div class="nav-bar" id="nav-bar">
        <ul>
          <li id="home">
            <a href="#"
              ><img src="./../../assets/images/world.png" alt="profile"
            /></a>
          </li>
          <li id="chat" class="active">
            <a href="#">
              <img src="./../../assets/images/chat.png" alt="chat"
            /></a>
          </li>
          <li id="me">
            <a href="#"
              ><img src="./../../assets/images/profile.png" alt="profile"
            /></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="matches" id="matches">
      <div class="match">
        <img src="./../../assets/images/eros.svg" alt="1" />
        <p>sairush Tamang</p>
      </div>
      <div class="match">
        <img src="./../../assets/images/eros.svg" alt="1" />
        <p>sairush Tamang</p>
      </div>
    </div>
    <div class="chat-container">
      <div class="chat-box" id="chat-box"></div>
      <form action="" class="chat">
        <input type="text" class="chat-input" />
        <button type="submit"><i class="ph ph-paper-plane-tilt"></i></button>
      </form>
    </div>
    <script type="module" src="./main.ts"></script>
    <script type="module" src="./navbar.ts"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </body>
</html>
