<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EROMANCE</title>
    <!-- <link rel="stylesheet" href="./src/style/style.css" /> -->
  </head>
  <body>
    <div class="form-control">
      <div class="form-left" id="form-img">
        <img
          src="./../../../public/assets/images/eros.svg"
          alt=""
          class="eros"
        />
      </div>
      <div class="divider"></div>
      <div class="form-right">
        <form class="signup-form form" id="signup-form">
          <h1>Create Account</h1>

          <input
            type="text"
            id="full-name"
            name="full-name"
            class="full-name"
            placeholder="Full Name"
            required
          />

          <input
            type="text"
            id="username-signup"
            name="username"
            class="username"
            placeholder="Username"
            required
          />

          <input
            type="text"
            id="email-signup"
            name="email"
            class="email"
            placeholder="Email"
            required
          />

          <input
            type="password"
            id="password-signup"
            name="password"
            class="password"
            placeholder="Password"
            required
          />

          <button class="signup btn" type="submit" id="signup-btn">
            Sign up
          </button>

          <p>
            Already have an account?
            <a href="./../login/" id="login-anchor">log in</a> instead.
          </p>
        </form>
      </div>
    </div>

    <script type="module" src="./main.ts"></script>
  </body>
</html>
