<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EROMANCE</title>
    <!-- <link rel="stylesheet" href="./../../style/style.css" /> -->
  </head>
  <body>
    <div class="form-control">
      <div class="form-left">
        <img
          src="./../../../public/assets/images/cupidv1.jpg"
          alt="eros"
          class="eros"
        />
      </div>
      <div class="divider"></div>
      <div class="form-right" id="form-img">
        <form action="" class="login-form form" id="login-form">
          <h1>Log In</h1>
          <input
            type="text"
            id="email"
            name="email"
            class="email"
            placeholder="Email"
            required
          />

          <input
            type="password"
            id="password"
            name="password"
            class="password"
            placeholder="Password"
            required
          />
          <button class="login btn" type="submit" id="login-btn">Log in</button>
          <p>
            Don't have an account?
            <a href="./../register/" id="register-anchor">Register</a> now.
          </p>
        </form>
      </div>
    </div>

    <script type="module" src="./main.ts"></script>
  </body>
</html>
